<form class="" action="/articles/create" method="post">
  <input type="text" name="header" value="">
  <textarea name="body" rows="8" cols="80"></textarea>
  <input type="text" name="estimatedReadTime" placeholder="minutes">
  <input type="submit" name="" value="Create">
</form>
